:root {
  --colorTextButton: #ff6e30;
  --colorToolsSubtitle: #ffa537;
  --colorToolsSubtitleNoHover: rgb(255, 165, 55, 0.55);
  --colorTextTitle: rgb(255, 255, 255, 0.9);
  --colorTextPrimary: rgb(255, 255, 255, 0.55);
  --colorLinkHover: #fdf5ff;
  --colorTextTitleNoHover: rgb(255, 255, 255, 0.78);
  --colorTextHover: rgb(255, 255, 255, 0.78);
  --colorTextPlaceholder: rgb(255, 255, 255, 0.38);
  --colorTextQuoteTitle: rgb(255, 253, 253, 0.78);
  --colorTextQuoteSubtitle: rgb(255, 253, 253, 0.55);
  --colorTextTitleTrustedbrands: rgb(255, 255, 255, 0.8);
  --fontPrimary: "Poppins", sans-serif;
  --fontQuote: "Roboto", sans-serif;
  --colorBg: #1e252b;
}
body {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--colorTextPrimary);
  background-color: var(--colorBg);
}
.container {
  max-width: 1254px;
  margin-inline: auto;
  padding-inline: 15px;
}
.header {
  padding-top: 34px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1470px;
  margin: 0 auto;
  text-align: center;
}
.logo {
  margin-right: 21px;
  margin-left: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.logo-img {
  width: 32px;
  height: auto;
  margin-left: auto;
}
.logo-name {
  color: var(--colorTextTitle);
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  margin-right: 40px;
}
.header-nav {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin-left: 257px;
}
.nav-link {
  font-weight: 500;
  text-decoration: none;
}
.chevron {
  justify-content: center;
}
.header-account .account-list {
  display: flex;
  list-style: none;
  gap: 24px;
}
.account-link {
  color: var(--colorTextTitleNoHover);
  opacity: 0.78;
  font-weight: 600;
}
.signup-link {
  padding: 12px 28px;
  border-radius: 8px;
  background-color: var(--colorTextButton);
  color: var(--colorLinkHover);
  font-weight: 600;
  font-size: 16px;
}
.main-container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 60px 16px;
}
.awesometools {
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: left;
}
.awesometools-container {
  display: flex;
}
.awesometools-text {
  flex: 1;
}
.awesometools-title {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 30px;
  margin-top: 104px;
}
.awesometools-titlespan {
  color: var(--colorTextButton);
  font-size: 50px;
}
.awesometools-subtitle {
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 60px;
  max-width: 480px;
}
.awesometools-form {
  display: flex;
  max-width: 500px;
  margin-bottom: 110px;
  background-color: #283036;
  padding: 8px 18px;
  border-radius: 15px;
  align-items: center;
  gap: 13px;
}
.awesometools-form::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.awesometools-searchinput {
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
  height: 64px;
}
.awesometools-searchinput::placeholder {
  color: #aaa;
}
.awesometools-searchbutton {
  background-color: #ff6e30;
  color: #fff;
  border: none;
  padding: 12px 36px;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 12px;
  cursor: pointer;
  height: 48px;
}
.awesometools-social {
  margin-top: 110px;
}
.awesometools-logo-img {
  margin-right: 20px;
}
.awesometools-picture {
  margin-top: 40px;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
}

.awesometools-img {
  max-width: 100%;
  height: auto;
  margin-left: 140px;
  margin-top: 58px;
}
.populartools {
  text-align: center;
  margin-top: 60px;
  margin-left: 110px;
  margin-bottom: 210px;
  margin-right: 110px;
}
.populartools-container {
  text-align: center;
  justify-content: center;
  margin-top: 205px;
}
.populartools-maintitle {
  color: var(--colorTextTitle);
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 25px;
}
.populartools-mainsubtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 90px;
  max-width: 427px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 400px;
}
.populartools-article {
  border-radius: 16px;
  padding: 24px;
  text-align: left;
  width: 100%;
  max-width: 400px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 120px;
}
.populartools-article:hover {
  background-image: radial-gradient(
    circle at top right,
    rgb(255, 110, 48, 0.6) 0.1%,
    rgb(40, 48, 54, 0.6) 15% 100%
  );
  transform: translateY(-5px);
}
.populartools-article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.populartools-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.populartools-div {
  height: 48px;
  margin-bottom: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.populartools-logo {
  width: 60px;
  height: 60px;
}
.populartools-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.populartools-title {
  color: var(--colorTextTitleNoHover);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 4px;
}
.populartools-subtitle {
  color: var(--colorToolsSubtitleNoHover);
  font-size: 18px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  text-align: start;
}
.populartools-description {
  margin-bottom: 30px;
}
.populartools-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 30px;
}
.populartools-icons {
  display: flex;
  gap: 16px;
  margin-top: auto;
  margin-bottom: 16px;
}
.icon-svg {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
.icon-svg:hover {
  opacity: 1;
  cursor: pointer;
}
.populartools-visit {
  font-weight: 600;
  margin-top: 30px;
  align-self: flex-end;
  margin-right: 33px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}
.populartools-visit:hover {
  background-color: #ff6e30;
  color: #fff;
  border: none;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.populartools-button {
  color: var(--colorTextButton);
  font-weight: 500;
  font-size: 20px;
  background-color: #1e252b;
  border: solid 1px rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 100px;
  padding: 17px 38px;
  cursor: pointer;
  display: inline;
}
.trustedbrands-container {
  background-image: radial-gradient(
    circle at top left,
    rgb(255, 72, 66, 0.4) 0% 0.1%,
    rgb(44, 53, 61, 0.2) 5% 100%
  );
  border-radius: 16px;
  text-align: center;
  padding: 55px 110px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 188px;
  max-height: 250px;
}
.trustedbrands-title {
  color: var(--colorTextTitleTrustedbrands);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 55px;
}
.trustedbrands-logo {
  display: inline-block;
  margin-right: 107px;
  max-width: 200px;
  max-height: 51px;
}
.trustedbrands-logo:nth-child(1) {
  margin-left: 82px;
}
.newcomertools {
  padding: 80px 20px;
  text-align: center;
}
.newcomertools-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 200px;
}

.newcomertools-body {
  display: flex;
  max-width: 427px;
  flex-direction: column;
  flex: 0 0 420px;
}
.newcomertools-maintitle {
  font-size: 48px;
  color: var(--colorTextTitle);
  text-align: start;
}
.newcomertools-mainsubtitle {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: start;
}
.newcomertools-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}
.newcomertools-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newcomertools-title {
  font-size: 24px;
}
.newcomertools-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 30px;
}
.newcomertools-exploremore {
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  border-radius: 8px;
  padding: 15px 40px;
  background-color: var(--colorTextButton);
  max-width: 200px;
}
.newcomertools-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px 50px;
}

.newcomertools-article {
  border-radius: 15px;
  display: inline-block;
  text-align: left;
  margin: 24px;
  padding: 40px;
  width: 280px;
  vertical-align: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-basis: calc((100% - 24px) / 2);
}
.newcomertools-article:hover {
  background-color: #2f2f2f;
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}
.newcomertools-div {
  text-align: center;
  margin-bottom: 15px;
}
.newcomertools-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 3px;
}
.newcomertools-subtitle {
  color: var(--colorToolsSubtitleNoHover);
  font-size: 18px;
  margin-bottom: 30px;
}
.newcomertools-description {
  font-size: 14px;
  line-height: 2.14;
  margin-bottom: 30px;
}
.newcomertools-visit {
  font-weight: 600;
}
.newcomertools-visit:hover {
  background-color: #ff6e30;
  border: none;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}
.quote-container {
  text-align: center;
  display: flex;
}
.quote-photo {
  margin-bottom: 20px;
  padding-left: 185px;
}
.quote-img {
  width: 400px;
  height: 500px;
}
.quote-text {
  font-family: var(--fontQuote);
  font-size: 14px;
  color: var(--colorTextHover);
  line-height: 2.14;
  max-width: 393px;
  margin: 0 auto;
  padding-top: 140px;
  background-image: url(../images/“.svg);
  background-repeat: no-repeat;
  text-align: left;
}
.contributor {
  padding-top: 250px;
  padding-bottom: 240px;
}
.contributor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contributor-title {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 25px;
}

.contributor-subtitle {
  font-size: 18px;
  margin-bottom: 100px;
  max-width: 450px;
  text-align: center;
}

.contributor-form {
  display: flex;
  max-width: 550px;
  background-color: #283036;
  padding: 8px 18px;
  border-radius: 15px;
  align-items: center;
  gap: 13px;
  justify-content: center;
}

.contributor-searchinput {
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  background: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
  width: 550px;
}

.contributor-button {
  background-color: #ff6a3a;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 36px;
  padding-bottom: 12px;
  cursor: pointer;
  font-weight: 600;
  max-width: 130px;
  max-height: 50px;
  white-space: nowrap;
}
.footer {
  padding: 60px 20px;
  font-size: 14px;
  border-top: rgb(255, 255, 255, 0.15) 0.5px solid;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
.footer-logo {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}
.logo-img {
  height: 32px;
}

.logo-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 25px;
}
.footer-info-copyright {
  color: var(--colorTextTitle);
  margin-bottom: 20px;
}
.footer-info-text {
  max-width: 260px;
}
.footer-item {
  margin-bottom: 8px;
  font-style: normal;
}
.footer-link {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.footer-categories .footer-company-info {
  margin-left: 115px;
}
