:root {
  --colorTextButton: #ff6e30;
  --colorToolsSubtitle: #ffa537;
  --colorTextTitle: rgb(255, 255, 255, 0.9);
  --colorTextPrimary: rgb(255, 255, 255, 0.55);
  --colorLinkHover: #fdf5ff;
  --colorTextTitleNoHover: rgb(255, 255, 255, 0.78);
  --colorTextHover: rgb(255, 255, 255, 0.78);
  --colorTextPlaceholder: rgb(255, 255, 255, 0.38);
  --colorTextQuoteTitle: rgb(255, 253, 253, 0.78);
  --colorTextQuoteSubtitle: rgb(255, 253, 253, 0.55);
  --colorTextTitleTrustedbrands: rgb(255, 255, 255, 0.8);
  --fontPrimary: "Poppins", sans-serif;
  --fontQuote: "Roboto", sans-serif;
  --colorBg: #1e252b;
}
body {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--colorTextPrimary);
  background-color: var(--colorBg);
}
